@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  position: relative;
  z-index: 0;
}

.button::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  top: 50%;
  left: 0;
  margin-top: -4px;
  z-index: -1;
}

.button:hover {
  background-color: #f0c52e;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header {
  width: 100%;
}

.container-wrapper {
  width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.main-navigation {
  position: relative;
  margin-bottom: 595px;
  padding-top: 1px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: transparent;
  background-image: linear-gradient(to bottom, #ffffff 40px, #f7e196 40px);
}

.search-user-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.search-user-wrapper .site-search {
  position: relative;
  width: 440px;
  margin-right: 100px;
  list-style: none;
  color: #000000;
  letter-spacing: 0.15px;
}

.site-search-placeholder {
  padding-left: 38px;
  color: rgba(0, 0, 0, 0.3);
}

.site-search-placeholder:hover {
  color: rgba(0, 0, 0, 0.6);
}

.search-form {
  position: relative;
  display: none;
}

.site-search-form {
  display: flex;
}

.site-search input[type="search"] {
  width: 355px;
  padding: 0;
  padding-left: 38px;
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  vertical-align: bottom;
}

.site-search-placeholder::before,
.site-search-form::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/user-menu-sprites.png");
  background-position: -18px -19px;
}

.site-search-placeholder::before {
  top: 8px;
  margin-left: -34px;
}

.site-search-form::before {
  top: 18px;
}

.search-button {
  font: inherit;
  width: 85px;
  height: 50px;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-menu {
  display: flex;
  position: relative;
  width: 500px;
}
.footer-user-menu a,
.header-user-menu a {
  display: block;
  position: relative;
}

.login,
.login-logout {
  margin-right: auto;
}

.user-authorization {
  margin-right: 20px;
}

.login a,
.user-authorization a {
  padding-left: 27px;
}

.footer-user-menu a::before,
.header-user-menu a::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../img/user-menu-sprites.png");
}

.login a::before,
.user-authorization a::before,
.footer-authorization a::before,
.footer-login a::before {
  width: 13px;
  height: 12px;
  margin-left: -27px;
}

.login a::before,
.user-authorization a::before {
  top: 10px;
  background-position: -67px -19px;
}

.footer-authorization a::before,
.footer-login a::before {
  top: 7px;
  background-position: -219px -19px;
}

.compare {
  margin-right: 30px;
}

.footer-shopping-cart a,
.footer-compare a {
  padding-left: 24px;
}
.shopping-cart a,
.compare a {
  padding-left: 35px;
}

.footer-compare a::before,
.compare a::before {
  width: 10px;
  height: 10px;
}

.compare a::before {
  top: 11px;
  margin-left: -20px;
  background-position: -120px -19px;
}

.footer-compare a::before {
  top: 9px;
  margin-left: -21px;
  background-position: -271px -19px;
}

.footer-shopping-cart a::before,
.shopping-cart a::before {
  width: 12px;
  height: 12px;
}

.shopping-cart a::before {
  top: 9px;
  margin-left: -24px;
  background-position: -169px -18px;
}

.footer-shopping-cart a::before {
  top: 7px;
  margin-left: -23px;
  background-position: -319px -19px;
}

.header-user-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a {
  color: #000000;
}

.login-logout a {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  display: inline-block;
  margin-top: 22px;
  margin-bottom: 16px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-catalog {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.navigation-warranty {
  margin-right: 105px;
}

.navigation-delivery {
  margin-right: 35px;
}

.navigation-contacts a {
  display: block;
  margin: 0;
  padding: 0;
}

.navigation-catalog-title {
  position: relative;
  display: block;
  margin-bottom: 48px;
  padding-right: 32px;
}

.navigation-catalog-title::before,
.navigation-catalog-title::after {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 2px;
  background-color: #b8a874;
  right: 5px;
}

.navigation-catalog-title::before {
  top: 50%;
  margin-top: -1px;
}

.navigation-catalog-title::after {
  bottom: 50%;
  margin-bottom: -1px;
  transform: rotate(90deg);
}

.catalog-submenu {
  position: absolute;
  display: none;
  width: 1160px;
  margin-top: -27px;
  margin-left: -60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 42px;
  background-color: #f7e196;
}

.submenu-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: OpenSans, Arial, sans-serif;
  letter-spacing: 0.15px;
  text-transform: none;
}

ul.submenu-list {
  margin-right: 58px;
}

ul.submenu-list:last-child {
  margin-right: 0;
}

.submenu-list li {
  padding-bottom: 10px;
}

.submenu-list li:last-child {
  padding-bottom: 0;
}

.container {
  width: 100%;
}

.catalog-section-list {
  display: flex;
  margin: 0;
  margin-bottom: 79px;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  letter-spacing: 0.18px;
}

.catalog-section-item {
  width: 160px;
}

.catalog-section-item a {
  display: block;
  color: #000000;
}

.catalog-section-item div {
  display: flex;
  align-items: center;
  width: 160px;
  height: 160px;
  margin-bottom: 34px;
  background-color: rgba(240, 197, 46, 0.5);
}

.catalog-section-item:nth-child(2) div {
  align-items: flex-end;
}

.catalog-section-item img {
  margin-left: auto;
  margin-right: auto;
}

.catalog-section-item p {
  margin: 0;
}

.catalog-section-item div:hover {
  background-color: rgba(240, 197, 46, 1);
}

.catalog-section-item img:active {
  opacity: 0.3;
}

.services-slider-wrapper {
  position: relative;
  margin: 0 0 95px;
  padding: 0;
  min-height: 388px;
  background-color: transparent;
  background-image: linear-gradient(to bottom, transparent 100px, #e5e5e5 100px);
  z-index: 0;
}

.services-slider {
  display: flex;
  width: 1160px;
  min-height: 290px;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
}

.services-slider h2 {
  margin: 0;
}

.services-list {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 320px;
  padding: 0;
  margin: 0;
  margin-right: 117px;
  border-right: 7px solid #000000;
}

.services-list li:first-child {
  margin-top: 80px;
}

.services-list li:nth-child(2) {
  margin-top: 15px;
  margin-bottom: 15px;
}

.services-list button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 0;
  margin-top: 10px;
  background-color: transparent;
  border: none;
}

.services-list button:not(.current-button) {
  height: 40px;
}

.services-list .current-item {
  height: 40px;
}

.services-list .current-item,
.services-list .current-button {
  color: #f7e184;
  background-color: #000000;
}

.current-button.button::before {
  background-color: transparent;
}

.services-list button:hover:not(.current-button) {
  background-color: #f0c52e;
}

.services-list li:active:not(.current-item),
.services-list button:active:not(.current-button) {
  color: #f7e184;
  background-color: #000000;
}

.services-description {
  padding: 0;
  margin: 0;
  width: 767px;
}

.services-description h3 {
  margin-top: 0;
  margin-bottom: 31px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.services-description p {
  margin: 0;
  width: 425px;
}

.services-description .description-delivery {
  padding-top: 73px;
  background-image: url("../img/delivery.svg");
  background-size: 136px 164px;
  background-repeat: no-repeat;
  background-position: 555px 85px;
}

.services-description .description-warranty {
  padding-top: 73px;
  background-image: url("../img/warranty.svg");
  background-size: 172px 194px;
  background-repeat: no-repeat;
  background-position: 540px 61px;
}

.services-description .description-credit {
  padding-top: 73px;
  background-image: url("../img/credit.svg");
  background-size: 156px 186px;
  background-repeat: no-repeat;
  background-position: 531px 60px;
}

.services-description li:nth-child(n+2) {
  display: none;
}

.brands {
  margin-bottom: 85px;
}

.brands ul {
  margin: 0;
  padding: 0;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.brands-list a {
  display: block;
  margin: 0;
  padding: 0;
}

.brands-list img {
  filter: grayscale(1);
  opacity: 0.2;
}

.brands-list img:hover,
.brands-list img:active {
  filter: grayscale(0);
  opacity: 1;
}

.company-info {
  display: flex;
  margin-bottom: 85px;
}

.company-info h3 {
  margin: 0;
  margin-bottom: 27px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.about-us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 462px;
  margin-right: 140px;
}

.about-us:before,
.contact-info:before {
  content: "";
  display: block;
  width: 80px;
  border-top: 7px solid #000000;
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
}

.about-us ul {
  font-weight: 800;
  font-size: 16px;
  line-height: 40px;
  font-family: Gilroy, Arial, sans-serif;
  color: #464646;
}

.delivery-companies li {
  position: relative;
}

.delivery-companies li::before {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
  top: 50%;
  margin-top: -4px;
  margin-left: -40px;
}

.contact-info {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
}

.company-info .button {
  display: flex;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  width: 260px;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.company-info .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  width: 100%;
  color: #ffffff;
  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

.main-footer .container-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 325px;
  padding-top: 65px;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
}

.footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 61px;
}

.footer-bottom-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 65px;
}

.footer-bottom-wrapper:before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-logo path {
  fill: #ffc600;
}

.footer-logo:hover {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.footer-user-menu {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.footer-user-menu a {
  line-height: 27px;
}

.footer-authorization {
  margin-right: 20px;
}

.footer-login {
  margin-right: 45px;
}

.footer-logout {
  margin-right: 42px;
}

.footer-compare {
  margin-right: 40px;
}

.footer-user-menu a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-address {
  margin: 0;
  padding: 0;
}

.footer-navigation {
  display: flex;
  align-items: center;
  margin: 0 auto 0 165px;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-navigation li:nth-child(n+2) {
  margin-left: 32px;
}

.footer-phone {
  margin: 0;
  padding: 0;
}

.footer-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 160px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: 420px;
  flex-wrap: wrap;
}

.footer-social a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.3;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:active {
  opacity: 0.1;
}

.footer-copyright:hover {
  opacity: 0.6;
}

.footer-copyright:active {
  opacity: 0.3;
}

.contact-modal-form {
  display: flex;
  flex-direction: column;
  padding-top: 95px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  width: 960px;
  height: 553px;
  background-color: #ffffff;
}

.contact-wrapper {
  display: flex;
  margin-bottom: 40px;
}

.contact-wrapper p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.contact-wrapper input {
  width: 360px;
  height: 50px;
}

.contact-wrapper input[type="text"] {
  margin-right: 40px;
}

.comment-area {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}

.comment-area textarea {
  width: 100%;
  height: 156px;
  padding-top: 15px;
}

.contact-modal-form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  background-color: #ffffff;
  margin-bottom: 10px;
}

.contact-modal-form input,
.contact-modal-form textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: OpenSans, Arial, sans-serif;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
  padding-left: 20px;
}

.contact-modal-form input:hover,
.contact-modal-form textarea:hover {
  background-color: #eaeaea;
}

.contact-modal-form input:focus,
.contact-modal-form textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  outline: none;
}

.contact-modal-form .button[type="submit"] {
  box-sizing: content-box;
  width: 200px;
  height: 40px;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border: none;
}

.contact-modal-form .button:hover {
  background-color: #f0c52e;
}

.contact-modal-form .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.contact-form {
  display: inline-block;
  position: absolute;
  top: 1250px;
  left: 50%;
  margin-left: -480px;
  box-shadow: 0 10px 20px #cccccc;
}

.modal-map button[type="reset"],
.contact-form button[type="reset"] {
  position: absolute;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  opacity: 0.5;
  border: none;
  border-radius: 50%;
  top: 22px;
  right: 22px;
}

.modal-map button[type="reset"]:before,
.modal-map button[type="reset"]:after,
.contact-form button[type="reset"]:before,
.contact-form button[type="reset"]:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  padding: 0;
  margin: 0;
  margin-left: -15px;
}

.modal-map button[type="reset"]:before,
.contact-form button[type="reset"]:before {
  transform: rotate(45deg);
}

.modal-map button[type="reset"]:after,
.contact-form button[type="reset"]:after {
  transform: rotate(-45deg);
}

.modal-map button[type="reset"]:hover,
.contact-form button[type="reset"]:hover {
  opacity: 1;
}

.modal-map button[type="reset"]:active,
.contact-form button[type="reset"]:active {
  opacity: 0.3;
}

.modal-map {
  position: absolute;
  width: 960px;
  height: 553px;
  top: 1850px;
  left: 50%;
  margin-left: -480px;
  box-shadow: 0 10px 20px #cccccc;
}

.modal-map p {
  padding: 0;
  margin: 0;
}

.modal {
    display: none;
}

.container h1:not(.visually-hidden) {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.main-navigation.catalog-page {
  margin-bottom: 39px;
}

.container ul {
  list-style: none;
  margin-top: 25px;
  margin-bottom: 58px;
}

.container a {
  color: #000000;
  background-color: transparent;
}

.container h1 {
  padding: 0;
  margin: 0 0 15px;
}

.breadcrumbs-wrapper {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 39px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a {
  display: block;
  align-items: center;
  position: relative;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: OpenSans, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
  background-color: transparent;
}

.breadcrumbs .breadcrumbs-link {
  padding-right: 19px;
  margin-right: 18px;
}

.breadcrumbs .breadcrumbs-link::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 1px;
  margin-top: -2px;
  width: 6px;
  height: 6px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  transform: rotate(-45deg);
}

.breadcrumbs .breadcrumbs-link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs .breadcrumbs-link:active {
  color: rgba(0, 0, 0, 0.1);
}

ul.breadcrumbs {
  margin: 0;
  padding: 0;
}

.background-wrapper {
  background-color: transparent;
  background-image:
    linear-gradient(to right, #d9d9d9 50%, #ebebeb 50%),
    linear-gradient(to right, #ebebeb 50%, #ffffff 50%);
  background-position:
    0 0,
    0 0;
  background-size:
    100% 70px,
    100% 100%;
  background-repeat: no-repeat;
}

.catalog-page-wrapper {
  display: flex;
  padding-left: 60px;
}

.main-filter {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 268px;
}

.sorting-caption,
.filter-caption {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  background-color: #d9d9d9;
  min-height: 70px;
}

.filter-caption {
  margin: 0 0 70px;
}

.sorting-caption {
  background-color: #ebebeb;
  padding-left: 73px;
  margin: 0 0 23px;
}

.sorting-caption a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  font-family: OpenSans, Arial, sans-serif;
  text-transform: none;
}

.sorting-caption a:nth-of-type(1) {
  margin-left: 55px;
}

.sorting-caption a:nth-last-of-type(n+2) {
  margin-right: 30px;
}

.sorting-caption a:not(.sorting-current) {
  opacity: 0.3;
}

.sorting-caption a:not(.sorting-current):hover {
  opacity: 0.6;
}

.sorting-caption a:not(.sorting-current):active {
  opacity: 0.1;
}

.sorting-direction-up,
.sorting-direction-down {
  position: relative;
}

.sorting-direction-up {
  margin-left: auto;
}

.sorting-direction-up::before,
.sorting-direction-down::before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: 0;
  margin-top: -5px;
  width: 0;
  height: 0;
}

.sorting-direction-up::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #000000;
}

.sorting-direction-down::before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #000000;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-form fieldset {
  border: none;
  width: 200px;
}

.filter-form legend:before {
  content: "";
  display: block;
  width: 200px;
  border-top: 2px solid #000000;
  margin-bottom: 13px;
}

.filter-form fieldset:first-child {
  margin-bottom: 40px;
}

.filter-form fieldset:last-of-type {
  margin-bottom: 50px;
}

.filter-form legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
  background-color: transparent;
}

.filter-form label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: OpenSans, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.14px;
  background-color: transparent;
}

.catalog {
  background-color: #ffffff;
}

.catalog-main {
  padding-left: 73px;
  margin-bottom: 77px;
  background-color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 37px;
  padding: 0;
  background-color: #ffffff;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-top: 45px;
}

.catalog-item-image {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  order: -1;
  margin-bottom: 25px;
}

.item-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.item-title-wrapper p {
  margin-left: 30px;
  white-space: nowrap;
}

.catalog-item-button,
.filter-form button {
  width: 200px;
  height: 40px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  background-color: transparent;
  border: none;
}

.catalog-item-compare,
.catalog-item-button {
  display: flex;
  position: absolute;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.catalog-item-compare {
  margin-top: 40px;
}

.catalog-item-button:hover,
.filter-form .button:hover {
  background-color: #f0c52e;
}

.filter-form .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item h3 {
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
  background-color: transparent;
}

.catalog-item-image img {
  background-color: #eeeeee;
}

.catalog-item-image img:hover {
  opacity: 0.6;
}

.catalog-item-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: OpenSans, Arial, sans-serif;
  color: #000000;
  opacity: 0.5;
  letter-spacing: 0.13px;
  background-color: transparent;
}

.catalog-item-compare:hover {
  opacity: 1;
}

.catalog-item-compare:active {
  opacity: 0.2;
}

.catalog-item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Gilroy, Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.16px;
  background-color: transparent;
}

.pagination-list {
  display: flex;
  height: 70px;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  letter-spacing: 3.2px;
  background-color: #ebebeb;
}

.pagination-button {
  color: #000000;
  text-transform: uppercase;
}

.pagination-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 70px;
}

.pagination-item {
  margin-right: 30px;
}

.pagination-item:nth-last-child(2) {
  margin-right: 0;
}

.pagination-button:first-child {
  margin-right: auto;
}

.pagination-button:last-child {
  margin-left: auto;
}

.pagination-button-next:hover,
.pagination-button-back:hover {
  background-color: #d9d9d9;
}

.pagination-button-next:active,
.pagination-button-back:active {
  opacity: 0.3;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.pagination-item-current a {
  color: #000000;
  background-color: transparent;
}

.pagination-button:hover {
  background-color: #d9d9d9;
}

.pagination-button a:active {
  color: rgba(0, 0, 0, 0.3);
}
