@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"),
  url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "OpenSans", "Arial", sans-serif;
  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.main-header {
  width: 100%;
}

.main-wrapper {
  width: 1200px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.main-navigation {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin-bottom: 480px;
  padding-right: 60px;
  padding-left: 60px;
  background-color: rgba(240, 197, 46, 0.5);
}

.search-user-wrapper {
  display: flex;
  justify-content: flex-end;
  margin: 0 0 40px;
}

.site-search {
  width: 440px;
  list-style: none;
  color: #000000;
  letter-spacing: 0.15px;
}

.search-user-wrapper .header-user-menu {
  margin-left: auto;
}

.site-search-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.site-search-placeholder:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-search input[type="search"] {
  color: #000000;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000000;
}

.search-button {
  font: inherit;
  vertical-align: middle;
  text-align: center;
  color: #000000;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-button:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.header-user-menu {
  display: flex;
}

.header-user-menu a {
  color: #000000;
}

.header-user-menu a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.header-user-menu a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation a {
  color: #000000;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  margin-top: -18px;
  margin-bottom: 30px;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.navigation-catalog {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.navigation-warranty {
  margin-right: 115px;
}

.navigation-delivery {
  margin-right: 40px;
}

.navigation-catalog-title {
  display: block;
  margin-bottom: 25px;
}

.navigation-catalog-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: OpenSans, Arial, sans-serif;
  letter-spacing: 0.15px;
  text-transform: none;
}

.container {
  width: 100%;
}

.container-wrapper {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.catalog-section-list {
  display: flex;
  margin: 0 0 180px;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  letter-spacing: 0.18px;
}

.catalog-section-item {
  width: 160px;
}

.catalog-section-item div {
  width: 160px;
  height: 160px;
  margin-bottom: 35px;
}

.catalog-section-item a {
  display: block;
  color: #000000;
}

.catalog-section-item p {
  margin: 0;
}

.catalog-section-item div {
  background-color: rgba(240, 197, 46, 0.5);
}

.catalog-section-item div:hover {
  background-color: rgba(240, 197, 46, 1);
}

.services-slider-wrapper {
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
}

.services-slider {
  display: flex;
  width: 1160px;
  min-height: 290px;
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 95px;
}

.services-slider h2 {
  margin: 0;
}

.services-slider ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

ul.services-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 278px;
  height: 320px;
  margin-top: -100px;
  margin-right: 115px;
  border-right: 7px solid #000000;
}

.services-list li {
  height: 40px;
}

.services-list button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  width: 160px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  margin-top: 8px;
  background-color: transparent;
  border: none;
}

.services-list .current-item,
.services-list .current-button {
  color: #f7e184;
  background-color: #000000;
}

.services-list button:hover:not(.current-button) {
  background-color: #f0c52e;
}

.services-list li:active:not(.current-item),
.services-list button:active:not(.current-button) {
  color: #f7e184;
  background-color: #000000;
}

ul.services-description {
  margin-top: -28px;
  width: 425px;
}

.services-description h3 {
  margin-top: 0;
  margin-bottom: 35px;
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.services-description p {
  margin: 0;
}

.services-description li:nth-child(1n+2) {
  display: none;
}

.brands {
  margin-bottom: 93px;
}

.brands ul {
  margin: 0;
  padding: 0;
}

.brands-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.brands-list a {
  display: block;
  margin: 0;
  padding: 0;
}

.company-info {
  display: flex;
}

.company-info h3 {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.about-us {
  width: 462px;
  margin-right: 140px;
}

.about-us:before {
  display: block;
  content: "";
  width: 80px;
  border-top: 7px solid #000000;
}

.about-us ul {
  list-style: circle;
  font-weight: 700;
  font-size: 15px;
  line-height: 30px;
  font-family: OpenSans, Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.15px;
}

.contact-info {
  width: 560px;
}

.contact-info:before {
  display: block;
  content: "";
  width: 80px;
  border-top: 7px solid #000000;
}

.company-info .button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.company-info .button:hover {
  background-color: #f0c52e;
}

.company-info a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-footer {
  width: 100%;
  color: #ffffff;
  background-color: #464646;
}

.main-footer ul {
  list-style: none;
}

.main-footer a {
  color: #ffffff;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-top: 90px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 325px;
  padding-top: 65px;
}

.footer-top-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.footer-middle-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.footer-bottom-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-wrapper:before {
  content: "";
  display: block;
  width: 80px;
  border-top: 7px solid #ffc600;
}

.footer-user-menu a {
  color: rgba(255, 255, 255, 0.7);
}

.footer-user-menu a:hover {
  color: rgba(255, 255, 255, 1);
}

.footer-user-menu a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-navigation {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.footer-navigation a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-navigation a:active {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social {
  text-align: center;
}

.footer-social a {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social a:active {
  color: rgba(255, 255, 255, 0.1);
}

.modal-contact-form label {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  background-color: #ffffff;
}

.modal-contact-form input,
.modal-contact-form textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: OpenSans, Arial, sans-serif;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
}

.modal-contact-form input:hover,
.modal-contact-form textarea:hover {
  background-color: #eaeaea;
}

.modal-contact-form input:focus,
.modal-contact-form textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f0c52e;
  outline: none;
}

.modal-contact-form .button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  border: none;
}

.modal-contact-form .button:hover {
  background-color: #f0c52e;
}

.modal-contact-form .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.container h1:not(.visually-hidden) {
  font-weight: 800;
  font-size: 47px;
  line-height: 48px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.47px;
}

.main-navigation.catalog-page {
  margin-bottom: 45px;
}

.container ul {
  list-style: none;
}

.container a {
  color: #000000;
  background-color: transparent;
}

.container h1 {
  padding: 0;
  margin: 0 0 25px;
}

.breadcrumbs-wrapper {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 45px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs a {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: OpenSans, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.14px;
  background-color: transparent;
}

ul.breadcrumbs {
  margin: 0;
  padding: 0;
}

.catalog-page-wrapper {
  display: flex;
  width: 1200px;
  padding-left: 60px;
  padding-right: 40px;
}

.main-filter {
  display: flex;
  flex-direction: column;
  background-color: #ebebeb;
  margin-right: 73px;
}

.filter-form {
  display: flex;
  flex-direction: column;
  width: 268px;
}

.filter-caption {
  display: block;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  background-color: #d9d9d9;
  min-height: 70px;
  margin: 0 0 70px;
  padding-top: 25px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
}

.filter-form fieldset {
  border: none;
  width: 200px;
}

.filter-form fieldset legend:before {
  content: "";
  display: block;
  width: 200px;
  border-top: 2px solid #000000;
  margin-bottom: 13px;
}

.filter-form fieldset:first-child {
  margin-bottom: 40px;
}

.filter-form fieldset:last-of-type {
  margin-bottom: 50px;
}

.filter-form legend {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
  background-color: transparent;
}

.filter-form label {
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  font-family: OpenSans, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.14px;
  background-color: transparent;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  width: 360px;
  margin-bottom: 45px;
}

.catalog-item-image {
  order: -1;
}

.catalog-item-button,
.filter-form button {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  background-color: transparent;
  border: none;
}

.catalog-item-button:hover,
.filter-form .button:hover {
  background-color: #f0c52e;
}

.filter-form .button:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.18px;
  background-color: transparent;
}

.catalog-item-image img {
  background-color: #eeeeee;
}

.catalog-item-image img:hover {
  opacity: 0.7;
}

a.catalog-item-compare {
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  font-family: OpenSans, Arial, sans-serif;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.13px;
  background-color: transparent;
}

.catalog-item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  color: #464646;
  letter-spacing: 0.16px;
  background-color: transparent;
}

.pagination-list {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: Gilroy, Arial, sans-serif;
  letter-spacing: 3.2px;
  background-color: #ebebeb;
}

.pagination-button {
  color: #000000;
  text-transform: uppercase;
}

.pagination-item a {
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
}

.pagination-item-current a {
  color: #000000;
  background-color: transparent;
}

.pagination-button:hover {
  background-color: #d9d9d9;
}

.pagination-button a:active {
  color: rgba(0, 0, 0, 0.3);
}
